language: python

python:
  - "3.6.4"

install:
  - pip install -r requirements.txt

before_script:
  - source ./.travis.sh

script:
  - nosetests  --with-coverage

after_success:
  - coveralls

notifications:
  email: false
